footer {
    padding: 100px 40px 40px;
    background-color: #282828;
    color: white;
}
footer .container {
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-logo {
    position: relative;
}
.agency-location .footer-logo::after {
    content: ".agency";
    position: absolute;
    bottom: 1px;
    right: -55px;
    color: white;
    font-weight: 200;
    font-size: 14px;
}
footer .agency-location div img {
    width: 130px;
}
footer h3 {
    font-weight: 500;
    text-transform: capitalize;
}
footer a {
    color: white;
    transition: .5s;
}
footer a:hover:nth-child(3) {
    color: #f3d08f;
    text-decoration: underline;
}
.head-office h3 {
    margin: 40px 0 7px;
}
.agency-info { 
    margin-top: 15px;
    position: relative;
    flex-wrap: wrap;
}
.agency-info::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 99%;
    background-color: #c1c1c1;
    left: 15px;
    bottom: -16px;
    border-radius: 2px;
}
.agency-info > div {
    width: 180px;
}
.agency-info > div:not(:last-child){
    margin: 0 20px;
}
.agency-info > div div:nth-child(2) h3 {
    margin-top: 35px;
}
.agency-info div div {
    flex-direction: column;
}
.agency-info h3 {
    margin-bottom: 5px;
}
.agency-info a {
    line-height: 1.5;
}
.useful-links ul li {
    margin-bottom: 5px;
    text-transform: capitalize;
}
.keep-in-touch-icons a {
    background-color: #cbcbcb;
    display: inline-block;
    padding: 3px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 20px;
    transition: all .5s;
}
.keep-in-touch-icons a i {
    color: black;
}
.keep-in-touch-icons a:hover {
    outline: 2px solid var(--main-color);
    background-color: transparent;
}
.keep-in-touch-icons a:hover i {
    color: white;
}
.keep-in-touch-icons a:not(:last-child) {
    margin-right: 5px;
}


@media screen and (max-width: 1260px) {
    .copyRight {
        margin-top: 45px;
    }
    .agency-info > div:first-child{
        margin: 0;
    }

    .agency-info::after {
        left: 0px;
    }
    .keep-in-touch h3 {
        margin: 20px 0 10px;
    }
}

@media (min-width: 769px) and (max-width:850px) {
    .agency-location {
        margin-bottom: 30px;
    }
    .keep-in-touch {
        display: flex;
        align-items: baseline;
        padding: 10px 0;
        width: 100% !important;
    }
    .keep-in-touch h3 {
        margin-right: 15px;
    }
    .keep-in-touch-icons a:not(:last-child) {
        margin-right: 10px;
    }
}
@media (min-width: 577px) and (max-width: 768px) {
    .agency-info > div:nth-child(1), .agency-info > div:nth-child(3){
        margin: 0;
    }
    .agency-info h3 {
        margin-bottom: 10px;
    }
    .agency-location {
        margin-bottom: 30px;
    }
    .public-relaions {
        margin-bottom: 20px;
    }
    .keep-in-touch {
        display: flex;
        align-items: baseline;
        padding: 10px 0;
        width: 100% !important;
    }
    .keep-in-touch h3 {
        margin-right: 15px;
    }
    .keep-in-touch-icons a:not(:last-child) {
        margin-right: 10px;
    }

}
@media (min-width: 200px) and (max-width: 576px) {
    .agency-location {
        margin-bottom: 30px;
        width: 100%;
    }
    .agency-location .head-office {
        text-align: center;
    }
    .agency-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .agency-info div div:nth-child(2){
        margin: 0 0 25px;
    }
    .copyRight {
        font-size: 13px;
        text-align: center;
    }
}